.App {
  display:flex;
  flex-direction: column;
  border: 10px solid green;
  height: 100vh;
}

.nav{
  display:flex;
  border: 10px solid orange;
  justify-content: space-evenly;
  height: 10%;
  width: 100%;
}

.nav ul{
  display: flex;
 
}

.nav li{
  display: inline-block;
  padding: 30px;
  font-size: 42px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.footer{
 position: absolute;
  border: 10px solid blue;
  height: 10%;
  width: 100%;
  bottom: 0;
}

.landingpage {
  display:flex;
  border: 10px solid purple;
  height: 75%;
}

.side{
  display:flex;
  border: 10px solid black;
  width: 50%;
}

